<!DOCTYPE html>
<html lang="en-US">
<meta charset="UTF-8">
<link rel="stylesheet" href="css/site.css">
<title></title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->

<body>
    <header>
        <h1 class="centertext"></h1>
    </header>

    <nav>
        <table class="centertable">
            <tr>
                <td>
                    <a href="index.html"><img src="./pics/Home.jpg" alt="Home">
                    </a>
                    <p class="nomargin"><b>Home</b>
                    </p>
                </td>
            </tr>
        </table>
    </nav>

    <section>
    </section>

</body>

</html>
